body {
    margin-top: 110px;
}

.top-bar {
    border-bottom: solid 1px #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    font-size: 0.9em;
    line-height: 25px;
    z-index: 11000;
    background-color: #F2F2F2;

}

.site-header {
    padding: 8px;
    border-bottom: solid 1px #43C507;
    box-shadow: 5px 0 5px rgba(128,128,128,.5);
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: white;
}

.site-footer {
    padding: 15px;
    margin-top: 20px;
    border-top: solid 1px #D8D8D8;
    color: #666;
    clear: both;
}

.giant-order-btn {
    vertical-align: top;
    margin-right: 20px;
    margin-top: 10px;
    border: solid 1px #43C507;
    color: #43C507 !important;
    line-height: 30px;

}

.searchbox {
    display: inline-block;
    border: solid 2px #43C507;
    border-radius: 5px 5px 5px 5px;
    margin-left: 100px;
}

.mgrhello {
    display: inline-block;
    margin-left: 100px;
}

.searchbox .keyword {
    border: none;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 4px;
    vertical-align: top;
    width: 240px;
    outline: none;
}
.searchbox .submitbtn {
    height: 40px;
    background-color: #43C507;
    padding: 10px;
    border: none;
    border-radius: 0 3px 3px 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMA+Y/XljcvKwbekR/z5MoeDAq7vWFffapXAAAAlElEQVQ4y+3S3QrDIAwFYBNNf6y1uu28/6sOcdDdaITdrNBzpfCBSYy5c5HMbIkszwpbHD5xueseIC8piSc8lw502Kd6mna4Tn1ExVVJ1K6T4c+LBzehhZwXgW1CwvLVGGgMJoSfntab0cejD1z5QpachQlAPIaWAsB6KGsWyprFKvVsa5HbqIxmUAYzJGN4mTv/nje3wQeTZXOUBwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
    color:white;
    font-size: 15px;
}

.login-box {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: solid 1px #e0e0e0;
    box-shadow: 5px 5px 5px rgba(128,128,128,.3);
}

.sidebar {
    margin-top: 15px;
}

ul.listContainer.clearfix.tab-pannel {
}

ul.listContainer.clearfix.tab-pannel {
}

.hangsi h2 {
    margin: 0;
    padding: 0 0 0 30px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-family: "Microsoft YaHei", "å¾®è½¯é›…é»‘", simsun
}

.hangsi .logoList {
    width: 56px;
    float: left;
    border-right: 3px solid #f6f6f6;
    height: 424px
}

.hangsi .logoList ul {
    width: 45px;
    margin: 0 auto
}

.hangsi .logoList ul li {
    height: 37.5px;
    width: 45px;
    border-bottom: 1px solid #f2f4f6
}

.hangsi .content {
    overflow: hidden;
    background-color: #f2f2f2;
    height: 424px;
    width: 1131px
}

.hangsi .messageWraper {
    width: 325px;
    float: left;
    overflow: hidden;
    height: 424px
}

.hangsi .message {
    width: 280px;
    margin: 0 auto;
    line-height: 2em
}

.hangsi .message h3 {
    height: 26px;
    line-height: 26px;
    margin: 16px 0 14px 20px;
    font-weight: 700;
    font-size: 18px
}

.hangsi .bigLogo {
    width: 250px;
    height: 94px;
    margin: 15px 10px 0 8px;
    background-color: #fff
}

.hangsi .bigLogo a {
    display: block;
    height: 76px;
    padding-top: 17px;
    width: 100%
}

.hangsi .link {
    height: 16px;
    line-height: 16px
}

.hangsi .link a {
    font-size: 16px;
    color: #0185b8;
    text-decoration: none;
    width: 91px;
    border-right: 1px solid #0185b8;
    display: inline-block;
    float: left;
    text-align: center
}

.hangsi .detailMessage {
    margin: 0;
    padding: 0;
    height: 223px;
    overflow: hidden;
    font-size: 16px;
    text-indent: 3em;
    color: #484848;
    line-height: 2em;
    font-family: 'Microsoft YaHei'
}

.hangsi .logoList ul li span {
    width: 25px;
    height: 38px;
    display: inline-block;
    margin-left: 12px
}

.hangsi .dijiaList {
    background-color: #fff;
    height: 424px;
    width: 764px;
    float: left;
    overflow: hidden;
    padding: 0 20px 0 22px
}

.hangsi .logoList li.selected {
    background: url(//gtms04.alicdn.com/tps/i4/T1O4D8FTpbXXc3lIPr-88-39.png) -12px 0;
    width: 76px;
    z-index: 100;
    position: relative
}

.hangsi .J_all {
    height: 424px;
    width: 1190px;
    overflow: hidden
}

.hangsi .item-tab-nav {
    color: #000;
    height: 20px;
    overflow: hidden;
    margin-left: 27px;
    font-size: 14px;
    float: left
}

.hangsi .item-tab-nav li.selected {
    color: #FFF;
    margin-right: -1px;
    position: relative;
    border-right: 0 solid #fff
}

.hangsi .item-tab-nav li.selected span {
    background-color: #F80;
    text-align: center
}

.hangsi .item-tab-nav li span {
    width: 46px;
    display: inline-block;
    border-radius: 2px
}

.hangsi .item-tab-nav li:hover span {
    background-color: #ededed
}

.hangsi .item-tab-nav li {
    width: 46px;
    text-align: center;
    float: left;
    line-height: 20px;
    height: 20px;
    margin-left: -1px;
    overflow: hidden;
    padding: 0 6px;
    border-right: 1px solid #ededed;
    cursor: pointer
}

.hangsi .dijiaList .moreLink {
    text-decoration: none;
    color: #404040;
    float: right;
    position: relative;
    width: 42px;
    display: inline-block;
    margin-right: 12px
}

.hangsi .dijiaList .moreLink:hover {
    color: #f80;
    text-decoration: underline
}

.hangsi .moreIcon {
    background-image: url(//img.alicdn.com/tps/TB13DT5LVXXXXabXpXXXXXXXXXX-400-500.png);
    background-repeat: no-repeat;
    background-position: -395px -100px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6px;
    width: 5px
}

.hangsi .detailContent {
    position: relative;
    clear: both;
    height: 368px;
    overflow: hidden;
    width: 767px
}

.hangsi .dijiaList .banner {
    clear: both;
    font-size: 14px;
    height: 30px
}

.hangsi .listItem {
    width: 383px;
    overflow: hidden;
    float: left;
    font-family: "Microsoft YaHei";
    box-sizing: border-box;
    text-align: center
}

.hangsi .listItem:nth-child(odd) {
    border-right: 1px solid #f2f2f2;
    margin-left: 0
}

.hangsi .listItem a {
    color: #4A4A4A;
    display: block;
    line-height: 48px;
    height: 48px;
    text-decoration: none
}

.hangsi .listItem .last-item {
    border-right: medium none
}

.hangsi .listItem a:hover {
    background-color: #ededed;
    border-radius: 3px
}

.hangsi .listItem .address {
    color: grey;
    display: inline-block;
    font-size: 12px;
    width: 115px;
    float: left
}

.hangsi .listItem .date {
    color: grey;
    display: inline-block;
    font-size: 12px;
    width: 97px;
    float: left
}

.hangsi .listItem .price {
    color: #F80;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 22px;
    vertical-align: -2px;
    width: 100px;
    float: left
}

.hangsi .listItem .price .rmb {
    font-style: normal
}

.hangsi .listItem .discount {
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    width: 70px;
    float: left
}

.hangsi .item-tab-nav .last {
    border-right: 0 solid #fff
}

.hangsi .mainIconBG {
    height: 60px;
    width: 250px;
    margin: 0 auto;
    background-image: url(//gw.alicdn.com/tfs/TB17AW3GhnaK1RjSZFtXXbC2VXa-255-850.png)
}

.hangsi .loading, .hangsi .mainloading {
    background: url(//img.alicdn.com/tps/TB1UezOLVXXXXc.XVXXXXXXXXXX-32-32.gif) center center no-repeat rgba(0, 0, 0, 0);
    height: 100%;
    min-height: 50px;
    width: 100%
}

.ne-searcher-pc .module-wrap {
    width: 1190px
}

@font-face {
    font-family: mobile;
    src: url(//at.alicdn.com/t/font_1418722558_569727.eot);
    src: url(//at.alicdn.com/t/font_1418722558_569727.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_1418722558_569727.woff) format('woff'), url(//at.alicdn.com/t/font_1418722558_569727.ttf) format('truetype'), url(//at.alicdn.com/t/font_1418722558_569727.svg#iconfont) format('svg')
}

.seats {
    margin: 0 auto;
    text-align: center;
    cursor: default;
    max-width: 100%;
    overflow: auto;
}

.seat {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAY9JREFUSA3tVs1qg0AQ3l1/i5eCFC8+QSC0+BQ999QeC32t9lLovac8RQwk6BOUXLzVitFE0/mEDVIiJsbkUgeM7jjzfd/OjpvlrGZhGL6uVqvnsix5zX3yoxBia5rm22g0etkL5vt+WRTFtm8DJrDrpKI+wExJXd3VyzMw/1axf5YDpe6IqRSPUJZlGdQdmN4eBixgAps4nmRGRUyOCTneXddlnHOWJEkv5CAFFjCBTeOP2Wz2CXI+nU7vqZkmnudVAXBuNptKpWVZGHa2OI4ZdTPTNK3CIB42n89TarYHQWpuHcfJoEqaqqqViFNKDhKUV5ICGxy2bQt6d4cfU1EUQ5LKO4KQ3NWQW5+MxAEXCbraNZd8can7QHypSrOh1EOpz1YBtQkZOw+2zK67V1teI7FhGGy9XjfpavWDWNf1xrhGYtpTGa5z2f/6jmkZFPwff0VR1H0xj1yL5XKJhv3hQRDoaZriILClKz8S5+hwIk3ptHNTHTtowBeLxXWe5/2d8vZIoi4X4/H4myZY/AJMWAAq2pF/7QAAAABJRU5ErkJggg==);
    width: 30px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
}

.seat.unavailable {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAeRJREFUSA3tlr9Lw0AUx99dmyZtpRbBX6AOoiAG1KF1EXFUcBMEHRX/LV0EFyfBUhwFJwWdXC2CIKKIttU0TXLPd6kJaaFQz3bSB0kud+99P3ePl7swiNjZ4uz+h+PueAgs0v3rZowBpjXtYPXydi8QiwcN+ZTQlbEBFmNd5YKHyM4fXncJEYJ5FCxX2m2o1JearVlsAkcn0et2CD7NmVt6nMPdu0Up97rGrdY9X1NqFxbN7UDYBxfzs0XO4HCqPwVxzuH6uQIVxw18lJ9VWsDNSwU0EpfaQoijYt48kYKskDfXBIri0mgWaNy3Z8uBUtmC3FAm7GuMdH5HBLh4fIPpbBJGUrofKKjv6qlsuQgbHBnMj/cZdgCVHoNJzS8IyxWdk1o8bSFAi/EQKoclYzitySwvcCbQoKJrTCkSnCAvh4JVzaXlGdHVfAtxYDoCJsPiUgWoxv2DVTP347j/VP84ZaoBfy/VTT8C0bQ5KKDmefBiqe1etB+D3JvbWVvwZCYFj582xan9jSCdEhMZox0X2oKzehzk1Sv7Y8WFLMaR48PTZ93pVUpbde8rNaBjuMpuN83EXUnYVEJIx2e91bHb7/SNWOn08KBfslSBrLA8l9WNhNq30+Hs7Fqdr4/OlNnxsfcFxEaatII5mN4AAAAASUVORK5CYII=);
    cursor: default;
}

.seat.selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAoxJREFUSA3Fls9LFGEYx78z7rq7WuEiQqEVi1SHwjrVSU9aghURJYa2UUgd+nEuKAg6dK7cQ6FSCYrdosK/oFupFF46CLkFBZm7s+K4P2benmfGHRx3t5nZXdln2Zl5n3me5/O+z/vMMyNhk0RfY0zL4qrQIW1SV3wpyRA+P8ZfRTGcD+bLX/CZoeF9kMiwqiIEpJXvuEZBLbANwSutNpRXIFH+tmbRBq7qMh2CWeDLoxjgnV1bNlLu4Ob+di5txuTYQ+O4lPc0wEOjmNGAicZmUpMmEQfYoVLhGMmflOo6gGPrGiYHx/CW40oE7dUFZpojPDJR6RTNcgVo2mvuj6n1flxeJGALENy54SuAv0tQJR3nZR042hBGOg9lkwAZcpFRlXuSPY1H4JODho+eoxj0zFhQ1tLCgrsgU5Ufk2kQpIkEthJkSg9VomvparuDeye+4vjuqOFDaYVsVZAtTICYoeK3bHbOg66227hw8AmWlE+Y/T3t7EAWrsFXDk+he//dgqCdrbcI+tSAxuZ7sK4lC2yKKVyD6+UGnG1/jL7IIytOZ+tNXDz0jKCfEZs/CTWXsO45Xdha5v+MXy4M4HrHO5yK3Iegn5L5RdARxFOzBO0hKD0GHsQ1OKurePHlDG50vEdv5IGBiKfmMDLX7RnKzq5TzcYMf07whT8fsJj4iFiZUI7lesVszJLV1wh+2hxUcPS04go4Ba41A5dMNXceLUONnVpfWUJdb6P1F3UvCea3ybpS1MedkvpwKFzatCTYHwL4v11Ssz2uFbiOwT8yCjy+ecvfAJU7q8Cq9PAN6r8ljQ8BQbOgOt5eoZpTD7Sjxah4/u4dnETTDj88vPq9T3A1C/mcH0p/P7R/ODnAZaZCuGEAAAAASUVORK5CYII=);
}

.seat.empty {
    background-image: none;
    cursor: default;
}

ul.listContainer.clearfix.tab-pannel {
}

ul.listContainer.clearfix.tab-pannel {
}

.hangsi h2 {
    margin: 0;
    padding: 0 0 0 30px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    font-family: "Microsoft YaHei", "å¾®è½¯é›…é»‘", simsun
}

.hangsi .logoList {
    width: 56px;
    float: left;
    border-right: 3px solid #f6f6f6;
    height: 424px
}

.hangsi .logoList ul {
    width: 45px;
    margin: 0 auto
}

.hangsi .logoList ul li {
    height: 37.5px;
    width: 45px;
    border-bottom: 1px solid #f2f4f6
}

.hangsi .content {
    overflow: hidden;
    background-color: #f2f2f2;
    height: 424px;
    width: 1131px
}

.hangsi .messageWraper {
    width: 325px;
    float: left;
    overflow: hidden;
    height: 424px
}

.hangsi .message {
    width: 280px;
    margin: 0 auto;
    line-height: 2em
}

.hangsi .message h3 {
    height: 26px;
    line-height: 26px;
    margin: 16px 0 14px 20px;
    font-weight: 700;
    font-size: 18px
}

.hangsi .bigLogo {
    width: 250px;
    height: 94px;
    margin: 15px 10px 0 8px;
    background-color: #fff
}

.hangsi .bigLogo a {
    display: block;
    height: 76px;
    padding-top: 17px;
    width: 100%
}

.hangsi .link {
    height: 16px;
    line-height: 16px
}

.hangsi .link a {
    font-size: 16px;
    color: #0185b8;
    text-decoration: none;
    width: 91px;
    border-right: 1px solid #0185b8;
    display: inline-block;
    float: left;
    text-align: center
}

.hangsi .detailMessage {
    margin: 0;
    padding: 0;
    height: 223px;
    overflow: hidden;
    font-size: 16px;
    text-indent: 3em;
    color: #484848;
    line-height: 2em;
    font-family: 'Microsoft YaHei'
}

.hangsi .logoList ul li span {
    width: 25px;
    height: 38px;
    display: inline-block;
    margin-left: 12px
}

.hangsi .dijiaList {
    background-color: #fff;
    height: 424px;
    width: 764px;
    float: left;
    overflow: hidden;
    padding: 0 20px 0 22px
}

.hangsi .logoList li.selected {
    background: url(//gtms04.alicdn.com/tps/i4/T1O4D8FTpbXXc3lIPr-88-39.png) -12px 0;
    width: 76px;
    z-index: 100;
    position: relative
}

.hangsi .J_all {
    height: 424px;
    width: 1190px;
    overflow: hidden
}

.hangsi .item-tab-nav {
    color: #000;
    height: 20px;
    overflow: hidden;
    margin-left: 27px;
    font-size: 14px;
    float: left
}

.hangsi .item-tab-nav li.selected {
    color: #FFF;
    margin-right: -1px;
    position: relative;
    border-right: 0 solid #fff
}

.hangsi .item-tab-nav li.selected span {
    background-color: #F80;
    text-align: center
}

.hangsi .item-tab-nav li span {
    width: 46px;
    display: inline-block;
    border-radius: 2px
}

.hangsi .item-tab-nav li:hover span {
    background-color: #ededed
}

.hangsi .item-tab-nav li {
    width: 46px;
    text-align: center;
    float: left;
    line-height: 20px;
    height: 20px;
    margin-left: -1px;
    overflow: hidden;
    padding: 0 6px;
    border-right: 1px solid #ededed;
    cursor: pointer
}

.hangsi .dijiaList .moreLink {
    text-decoration: none;
    color: #404040;
    float: right;
    position: relative;
    width: 42px;
    display: inline-block;
    margin-right: 12px
}

.hangsi .dijiaList .moreLink:hover {
    color: #f80;
    text-decoration: underline
}

.hangsi .moreIcon {
    background-image: url(//img.alicdn.com/tps/TB13DT5LVXXXXabXpXXXXXXXXXX-400-500.png);
    background-repeat: no-repeat;
    background-position: -395px -100px;
    height: 9px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 6px;
    width: 5px
}

.hangsi .detailContent {
    position: relative;
    clear: both;
    height: 368px;
    overflow: hidden;
    width: 767px
}

.hangsi .dijiaList .banner {
    clear: both;
    font-size: 14px;
    height: 30px
}

.hangsi .listItem {
    width: 383px;
    overflow: hidden;
    float: left;
    font-family: "Microsoft YaHei";
    box-sizing: border-box;
    text-align: center
}

.hangsi .listItem:nth-child(odd) {
    border-right: 1px solid #f2f2f2;
    margin-left: 0
}

.hangsi .listItem a {
    color: #4A4A4A;
    display: block;
    line-height: 48px;
    height: 48px;
    text-decoration: none
}

.hangsi .listItem .last-item {
    border-right: medium none
}

.hangsi .listItem a:hover {
    background-color: #ededed;
    border-radius: 3px
}

.hangsi .listItem .address {
    color: grey;
    display: inline-block;
    font-size: 12px;
    width: 115px;
    float: left
}

.hangsi .listItem .date {
    color: grey;
    display: inline-block;
    font-size: 12px;
    width: 97px;
    float: left
}

.hangsi .listItem .price {
    color: #F80;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 22px;
    vertical-align: -2px;
    width: 100px;
    float: left
}

.hangsi .listItem .price .rmb {
    font-style: normal
}

.hangsi .listItem .discount {
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    width: 70px;
    float: left
}

.hangsi .item-tab-nav .last {
    border-right: 0 solid #fff
}

.hangsi .mainIconBG {
    height: 60px;
    width: 250px;
    margin: 0 auto;
    background-image: url(//gw.alicdn.com/tfs/TB17AW3GhnaK1RjSZFtXXbC2VXa-255-850.png)
}

.hangsi .loading, .hangsi .mainloading {
    background: url(//img.alicdn.com/tps/TB1UezOLVXXXXc.XVXXXXXXXXXX-32-32.gif) center center no-repeat rgba(0, 0, 0, 0);
    height: 100%;
    min-height: 50px;
    width: 100%
}

.ne-searcher-pc .module-wrap {
    width: 1190px
}

@font-face {
    font-family: mobile;
    src: url(//at.alicdn.com/t/font_1418722558_569727.eot);
    src: url(//at.alicdn.com/t/font_1418722558_569727.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_1418722558_569727.woff) format('woff'), url(//at.alicdn.com/t/font_1418722558_569727.ttf) format('truetype'), url(//at.alicdn.com/t/font_1418722558_569727.svg#iconfont) format('svg')
}

.seats {
    margin: 0 auto;
    text-align: center;
    cursor: default;
    max-width: 100%;
    overflow: auto;
}

.seat {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAY9JREFUSA3tVs1qg0AQ3l1/i5eCFC8+QSC0+BQ999QeC32t9lLovac8RQwk6BOUXLzVitFE0/mEDVIiJsbkUgeM7jjzfd/OjpvlrGZhGL6uVqvnsix5zX3yoxBia5rm22g0etkL5vt+WRTFtm8DJrDrpKI+wExJXd3VyzMw/1axf5YDpe6IqRSPUJZlGdQdmN4eBixgAps4nmRGRUyOCTneXddlnHOWJEkv5CAFFjCBTeOP2Wz2CXI+nU7vqZkmnudVAXBuNptKpWVZGHa2OI4ZdTPTNK3CIB42n89TarYHQWpuHcfJoEqaqqqViFNKDhKUV5ICGxy2bQt6d4cfU1EUQ5LKO4KQ3NWQW5+MxAEXCbraNZd8can7QHypSrOh1EOpz1YBtQkZOw+2zK67V1teI7FhGGy9XjfpavWDWNf1xrhGYtpTGa5z2f/6jmkZFPwff0VR1H0xj1yL5XKJhv3hQRDoaZriILClKz8S5+hwIk3ptHNTHTtowBeLxXWe5/2d8vZIoi4X4/H4myZY/AJMWAAq2pF/7QAAAABJRU5ErkJggg==);
    width: 30px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
}

.seat.unavailable {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAeRJREFUSA3tlr9Lw0AUx99dmyZtpRbBX6AOoiAG1KF1EXFUcBMEHRX/LV0EFyfBUhwFJwWdXC2CIKKIttU0TXLPd6kJaaFQz3bSB0kud+99P3ePl7swiNjZ4uz+h+PueAgs0v3rZowBpjXtYPXydi8QiwcN+ZTQlbEBFmNd5YKHyM4fXncJEYJ5FCxX2m2o1JearVlsAkcn0et2CD7NmVt6nMPdu0Up97rGrdY9X1NqFxbN7UDYBxfzs0XO4HCqPwVxzuH6uQIVxw18lJ9VWsDNSwU0EpfaQoijYt48kYKskDfXBIri0mgWaNy3Z8uBUtmC3FAm7GuMdH5HBLh4fIPpbBJGUrofKKjv6qlsuQgbHBnMj/cZdgCVHoNJzS8IyxWdk1o8bSFAi/EQKoclYzitySwvcCbQoKJrTCkSnCAvh4JVzaXlGdHVfAtxYDoCJsPiUgWoxv2DVTP347j/VP84ZaoBfy/VTT8C0bQ5KKDmefBiqe1etB+D3JvbWVvwZCYFj582xan9jSCdEhMZox0X2oKzehzk1Sv7Y8WFLMaR48PTZ93pVUpbde8rNaBjuMpuN83EXUnYVEJIx2e91bHb7/SNWOn08KBfslSBrLA8l9WNhNq30+Hs7Fqdr4/OlNnxsfcFxEaatII5mN4AAAAASUVORK5CYII=);
    cursor: default;
}

.seat.selected {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAAXNSR0IArs4c6QAAAoxJREFUSA3Fls9LFGEYx78z7rq7WuEiQqEVi1SHwjrVSU9aghURJYa2UUgd+nEuKAg6dK7cQ6FSCYrdosK/oFupFF46CLkFBZm7s+K4P2benmfGHRx3t5nZXdln2Zl5n3me5/O+z/vMMyNhk0RfY0zL4qrQIW1SV3wpyRA+P8ZfRTGcD+bLX/CZoeF9kMiwqiIEpJXvuEZBLbANwSutNpRXIFH+tmbRBq7qMh2CWeDLoxjgnV1bNlLu4Ob+di5txuTYQ+O4lPc0wEOjmNGAicZmUpMmEQfYoVLhGMmflOo6gGPrGiYHx/CW40oE7dUFZpojPDJR6RTNcgVo2mvuj6n1flxeJGALENy54SuAv0tQJR3nZR042hBGOg9lkwAZcpFRlXuSPY1H4JODho+eoxj0zFhQ1tLCgrsgU5Ufk2kQpIkEthJkSg9VomvparuDeye+4vjuqOFDaYVsVZAtTICYoeK3bHbOg66227hw8AmWlE+Y/T3t7EAWrsFXDk+he//dgqCdrbcI+tSAxuZ7sK4lC2yKKVyD6+UGnG1/jL7IIytOZ+tNXDz0jKCfEZs/CTWXsO45Xdha5v+MXy4M4HrHO5yK3Iegn5L5RdARxFOzBO0hKD0GHsQ1OKurePHlDG50vEdv5IGBiKfmMDLX7RnKzq5TzcYMf07whT8fsJj4iFiZUI7lesVszJLV1wh+2hxUcPS04go4Ba41A5dMNXceLUONnVpfWUJdb6P1F3UvCea3ybpS1MedkvpwKFzatCTYHwL4v11Ssz2uFbiOwT8yCjy+ecvfAJU7q8Cq9PAN6r8ljQ8BQbOgOt5eoZpTD7Sjxah4/u4dnETTDj88vPq9T3A1C/mcH0p/P7R/ODnAZaZCuGEAAAAASUVORK5CYII=);
}

.seat.empty {
    background-image: none;
    cursor: default;
}